<div class="nested-fields">
  <%= f.input :name, as: :select, collection: suggested_metatags, include_blank: true %>
  <%= f.input :content %>

  <%= link_to_remove_association(t(:remove_metatag), f,
                                 class: 'btn btn-danger', role: 'button') %>
</div>
