<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; Archangel 2020</div>

      <div>
        <%= t(:powered_by) %> <a href="https://github.com/archangel/archangel" target="_blank"><%= t(:archangel) %></a>
      </div>
    </div>
  </div>
</footer>
