<div class="btn-group" role="group" aria-label="Button group">
  <%= link_to_back(url: backend_designs_path) if member_action? || create_actions? %>
  <%= link_to_new(url: new_backend_design_path) if collection_action? || show_action? || update_actions? %>
  <%= link_to_edit(url: edit_backend_design_path(@design)) if show_action? %>
  <%= link_to_delete(url: backend_design_path(@design)) if show_action? || update_actions? %>
</div>
