<% unless flash.empty? %>
  <% flash.delete(:timedout).each do |type, message| %>
    <div class="alert-message" data-flash="<%= flash_class_for(type) %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
