<h1 class="mt-4"><%= t(:new_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<div class="card mb-4">
  <div class="card-body">

    <%= render 'form', collection: @collection %>

  </div>
</div>
