<div class="text-center">
  <div class="error-404-show row">
    <div class="col-lg-12">
      <h1>401</h1>

      <h2><%= t(:unauthorized) %></h2>

      <p>
        <%= t(:error_unauthorized) %>
      </p>
    </div>
  </div>
</div>
